.git/*
.gitignore
.idea
_references_/*
_references_
timeclock-frontend/.config
timeclock-frontend/node_modules/*
timeclock-frontend/node_modules
timeclock-frontend/.node-gyp

timeclock-backend/.env
timeclock-backend/config/local.php
timeclock-backend/config/console-local.php
timeclock-backend/runtime/*
timeclock-backend/runtime
timeclock-backend/web/assets/*
timeclock-backend/web/assets
timeclock-backend/vendor/*
timeclock-backend/vendor
