<div class="row" *ngIf="_errorMessage">
    <div class="col-sm-12">
        <p class="alert alert-danger">{{_errorMessage}}</p>
    </div>
</div>
<div class="animated fadeIn" *ngIf="!_mode">
    <span class="spinner"></span>

</div>
<div class="animated fadeIn" *ngIf="_mode">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="_form" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-create" *ngIf="_mode == 'create'">
                            <strong>Create new team</strong>
                        </div>
                        <div class="update" *ngIf="_mode == 'update'">
                            <strong>Team - {{_team.team_name}}</strong>
                            <small>Update team</small>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('team_name')}">
                                <label class="col-sm-12" for="team_name">Team Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="team_name" placeholder="Enter team name" [formControl]="_form.controls['team_name']" [ngClass]="{'form-control-danger': !_isValid('team_name')}" [(ngModel)]="_team.team_name" />
                                </div>
                                <div class="col-sm-12" *ngIf="!_formErrors.team_name.valid">
                                    <span class="help-block help-block-error">{{_formErrors.team_name.message}}</span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('primary_colour')}">
                                <label class="col-sm-12" for="primary_colour">Team Colour</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="primary_colour" placeholder="Enter team colour" [formControl]="_form.controls['primary_colour']" [ngClass]="{'form-control-danger': !_isValid('primary_colour')}" [(colorPicker)]="_team.primary_colour" [style.background]="_team.primary_colour" [cpPosition]="'bottom'" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" [cpFallbackColor]="'#000000'" [(ngModel)]="_team.primary_colour"/>
                                </div>
                                <div class="col-sm-12" *ngIf="!_formErrors.primary_colour.valid">
                                    <span class="help-block help-block-error">{{_formErrors.primary_colour.message}}</span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('enabled')}">
                                <label class="col-sm-12 form-control-label" for="enabled">Status</label>
                                <div class="col-sm-3">
                                    <select id="enabled" name="enabled" class="form-control input-sm" size="1" [formControl]="_form.controls['enabled']" [ngClass]="{'form-control-danger': !_isValid('enabled')}" [(ngModel)]="_team.enabled">
                                        <option value="1">Enabled</option>
                                        <option value="0">Disabled</option>
                                    </select>
                                </div>
                                <div class="col-sm-12" *ngIf="!_formErrors.enabled.valid">
                                    <span class="help-block help-block-error">{{_formErrors.enabled.message}}</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="!_form.valid || _submitted == true"><i class="fa fa-dot-circle-o"></i> Save</button>
                                <div *ngIf="_submitted" class="spinner"></div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a [routerLink]="['/setting', 'team']" class="btn btn-sm btn-warning"><i class="fa fa-arrow-left"></i> Back to list</a>
                            </div>
                            <div *ngIf="_errorMessage" class="col-xs-12 error-block mt-h">
                                <div class="alert alert-danger">{{_errorMessage}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
